recursive-include ichorORM *.py
recursive-include doc *.html
include setup.py
include README.md
include README.rst
include MANIFEST.in
include Changelog
recursive-include tests runTests.py
recursive-include tests/ichorORMTests *.py
